// Pagination & Post Navigation

.pagination,
.post-navigation {
	.nav-links {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
		font-size: 1.2rem;
	}

	.page-numbers {
		padding: 1.5rem;
	}
}

.pagination {
	margin-top: 2rem;
	margin-bottom: 2rem;

	.page-numbers {
		color: $textBase;
		background-color: $white;

		&:first-child {
			border-top-left-radius: 1rem;
			border-bottom-left-radius: 1rem;
		}

		&:last-child {
			border-top-right-radius: 1rem;
			border-bottom-right-radius: 1rem;
		}

		&:hover,
		&:focus,
		&:active {
			text-decoration: none;
			background-color: $background;
		}
	}

	.current {
		font-weight: bold;
		color: $textBase;
		background-color: $background;
	}
}
