/* Posts Grid */

.posts-grid {
	display: grid;
	gap: 2rem;
	grid: auto / 1fr;

	@media (min-width: 768px) {
		grid: auto / repeat(2, 1fr);
	}

	@media (min-width: 992px) {
		grid: auto / repeat(3, 1fr);
	}
}
