// WooCommerce Buttons

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
	color: $buttonText;
	background: $buttonBackground;

	&:hover,
	&:active,
	&:focus {
		color: $buttonText;
		background-color: darken($buttonBackground, 5%);
	}
}
