// Woocommerce Product

.woocommerce,
.woocommerce-page {
	ul.products {
		display: flex;
		flex-wrap: wrap;

		&[class*="columns-"] {
			li.product {
				@media (max-width: 767.98px) {
					width: 100%;
					margin: 0 0 1em;
				}
			}
		}

		li.product {
			display: flex;
			flex-direction: column;
			color: $textBase;
			background: $white;

			.onsale {
				display: flex;
				align-items: center;
				justify-content: center;
				min-width: 6em;
				min-height: 6em;
				padding: 0.875em;
				font-size: 0.875em;
			}

			.woocommerce-loop-product__title {
				font-family: "Futura Std", sans-serif;
				font-size: 1.6rem;
				font-weight: bold;
				text-align: center;
				color: $primary;
			}

			.price {
				text-align: center;
				color: $textBase;
			}
		}
	}

	&.recent-products,
	&.archive {
		ul.products {
			li.product {
				border-radius: 1.2rem;

				a {
					flex: 1;
					border-radius: inherit;
					padding: 2rem 1rem;
					border: 3px solid transparent;

					&:hover,
					&:focus,
					&:active {
						border-color: $secondary;
					}
				}
			}
		}
	}
}
