/* Modal Product Preview */

.modal-product-preview {
	display: none;
	visibility: hidden;

	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	z-index: 1080;

	&.open {
		display: flex;
		visibility: visible;
	}

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba($black, 0.8);
	}

	&__box {
		position: relative;
		max-width: 566px;
		width: 100%;
		max-height: calc(100% - 3rem);
		height: auto;
		@include padding(1rem null);
		margin: 3rem 1rem 1rem 1rem;
		border-radius: 1.2rem;
		background: $white;
		overflow-x: hidden;
		overflow-y: auto;
		z-index: 1080;

		&::-webkit-scrollbar {
			display: block;
			width: 0.4rem;
		}
		&::-webkit-scrollbar-track {
			background: transparent;
		}

		&::-webkit-scrollbar-thumb {
			background-color: rgba($primary, 0.8);
			border-right: none;
			border-left: none;
		}

		&::-webkit-scrollbar-track-piece:start {
			background: transparent;
			margin-top: 1rem;
		}

		&::-webkit-scrollbar-track-piece:end {
			background: transparent;
			margin-bottom: 1rem;
		}
	}

	&__close {
		position: absolute;
		display: flex;
		justify-content: center;
		top: 0.5rem;
		right: 0.5rem;
		width: 25px;
		height: 25px;
		margin: auto;
		cursor: pointer;

		@media (min-width: 576px) {
			top: 1rem;
			right: 1rem;
		}

		.leftright,
		.rightleft {
			position: absolute;
			height: 4px;
			width: 25px;
			margin-top: 12px;
			background-color: $primary;
			border-radius: 2px;
			transition: transform 0.3s ease-in, background-color 0.3s ease-in;
		}

		.leftright {
			transform: rotate(45deg);
		}

		.rightleft {
			transform: rotate(-45deg);
		}

		label {
			color: $primary;
			font-size: 0.5rem;
			text-transform: uppercase;
			letter-spacing: 2px;
			transition: color 0.3s ease-in, opacity 0.3s ease-in;
			opacity: 0;
		}

		.close {
			position: absolute;
			margin-top: 30px;
		}

		&:hover {
			.leftright,
			.rightleft {
				background-color: $secondary;
			}

			.leftright {
				transform: rotate(-45deg);
			}

			.rightleft {
				transform: rotate(45deg);
			}

			label {
				opacity: 1;
			}
		}
	}

	&__box-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		@include padding(null 1rem);
		text-align: center;
		color: $textBase;

		hr {
			margin: 1rem 0;
			width: 70%;
			border-bottom: 1px solid $textBase;
		}
	}

	&__image {
		margin-bottom: 1rem;
	}

	&__title,
	&__title-partner-stores {
		font-weight: bold;
	}

	&__title {
		color: $primary;
	}

	&__title-partner-stores {
		color: $secondary;
		margin: 0;
	}

	&__buy {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1.6rem;
		margin: 1rem 0 0 0;

		@media (min-width: 992px) {
			flex-direction: row;
		}

		span {
			font-weight: bold;
			font-size: 1.3rem;
			color: $secondary;
		}
	}

	&__buy-button {
		padding: 1rem 2rem;
		font-size: 1.3rem;
		font-weight: bold;
		text-transform: uppercase;
		border-radius: 50px;
		color: $white;
		background: $secondary;

		&:hover,
		&:active,
		&:focus {
			color: $white;
			text-decoration: none;
			background: darken($secondary, 5%);
		}
	}

	&__partner-stores {
		display: flex;
		flex-wrap: wrap;
		gap: 1.8rem;
		justify-content: center;
		align-items: center;

		@media (min-width: 992px) {
			// gap: 3rem;
		}

		a {
			display: flex;
		}

		img {
			margin: 0;
		}
	}
}
