// WooCommerce Pagination

.woocommerce {
	nav.woocommerce-pagination {
		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			width: 100%;
			font-size: 1.2rem;
			border: 0;

			li {
				color: $textBase;
				border: 0;
				background-color: $white;

				&:first-child {
					border-top-left-radius: 1rem;
					border-bottom-left-radius: 1rem;
				}

				&:last-child {
					border-top-right-radius: 1rem;
					border-bottom-right-radius: 1rem;
				}

				&:hover,
				&:focus,
				&:active {
					text-decoration: none;
					background-color: $background;
				}

				span,
				a {
					padding: 1.5rem;
				}

				span.current {
					font-weight: bold;
					color: $textBase;
					background-color: $background;
				}
			}
		}
	}
}
