/* Woocommerce Cart */

.woocommerce-cart {
	table.cart {
		img {
			width: 100%;
			max-width: 12rem;
		}

		a.remove {
			line-height: 0.75;
		}

		td.actions {
			.coupon {
				display: flex;
				align-content: center;
				justify-content: center;
				align-items: center;
				flex-wrap: nowrap;
			}

			.input-text {
				width: 100%;
				max-width: 190px;
			}

			.button {
				margin-top: 0;
			}
		}
	}
}
