// Footer
.footer {
	background: $primary;
	color: $white;

	.footer-menu,
	.footer-menu ul {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 2rem;

		@media (min-width: 992px) {
			flex-direction: row;
		}

		@include padding(4rem null 2rem);
		@include margin(0);

		list-style: none;
		padding-inline-start: 0;

		a,
		.menu-item {
			font-size: 1em;
			font-weight: bold;
		}
	}

	.footer-main {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		gap: 2rem;
		padding: 2rem;
		text-align: center;

		@media (min-width: 992px) {
			flex-direction: row;
		}
	}

	.footer-contacts {
		gap: 1.6rem;
		color: $white;
		font-weight: bold;

		&,
		div {
			display: flex;
			flex-direction: column;

			@media (min-width: 992px) {
				flex-direction: row;
			}
		}

		div {
			align-items: center;
			gap: 1rem;
		}
	}
}

.footer-copyright {
	font-size: 14px;

	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		padding: 2rem 0;

		@media (min-width: 992px) {
			flex-direction: row;
		}
	}

	span {
		display: flex;
		align-items: center;
		line-height: 1;
	}
}
