// Header

#header {
	box-shadow: 0px 0px 7px 2px rgba($black, 15%);

	.navbar {
		width: 100%;
		z-index: 1080;
		color: $primary;
		background: $white;
		-webkit-transition: position 0.5s, top 0.5s, background 0.5s;
		-moz-transition: position 0.5s, top 0.5s, background 0.5s;
		-o-transition: position 0.5s, top 0.5s, background 0.5s;
		transition: position 0.5s, top 0.5s, background 0.5s;

		&.sticky {
			position: fixed;
			top: 0;
			width: 100%;
		}

		@media (max-width: 991.98px) {
			.custom-logo-link {
				flex: 1;
			}
		}

		.navbar-brand {
			max-width: 126px;
			max-height: 62px;

			&.alt {
				display: none;
			}
		}

		.navbar-toggler {
			order: 99;
		}

		.navbar-toggler-icon {
			.bar1,
			.bar2,
			.bar3 {
				background-color: $primary;
			}
		}
	}

	.header-inner {
		position: relative;
		display: flex;
		min-height: 400px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;

		.container {
			display: flex;
			flex: 1;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			z-index: 10;
		}
	}

	.header-title {
		font-family: "Fredoka One", sans-serif;
		font-size: 2.7em;

		@media (min-width: 992px) {
			font-size: 3.7em;
		}
	}
}
