// Block Gallery - Style Rounded Border

.wp-block-gallery {
	&.is-style-rounded-border {
		padding: 4rem !important;
		border-radius: 200px;
		border: 2px solid #4581c1;

		@media (max-width: 575.98px) {
			margin-left: 1rem !important;
			margin-right: 1rem !important;
		}

		@media (min-width: 992px) {
		}
	}
}
