// WooCommerce Products Grid

@each $name, $size in $grid-columns {
	.wc-block-grid {
		&.has-#{$name}-columns {
			.wc-block-grid {
				&__products {
					@media (min-width: 768px) {
						grid-template-columns: repeat(2, 1fr);
					}

					@media (min-width: 992px) {
						grid-template-columns: repeat(#{$name}, 1fr);
					}
				}

				&__product {
					flex: 1;
					max-width: 100%;
					padding: 2rem 1rem;

					@media (max-width: 767.98px) {
						margin-bottom: 2rem;
					}
				}
			}
		}
	}
}

.wc-block-grid {
	&__products {
		display: grid;
		gap: 2rem;
	}

	&__product {
		position: relative;
		border-radius: 1.2rem;
		background: #ffffff;
		border: 3px solid transparent;
		transition: border-color 0.15s ease-in-out;
		pointer-events: none;

		&:hover,
		&:focus,
		&:active {
			border-color: #e2282a;
		}
	}

	&__product-link {
		display: flex;
		flex-direction: column;
		text-decoration: none;
		pointer-events: auto;
	}

	&__product-onsale {
		position: absolute;
		top: -0.5em;
		right: -0.5em;
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 6em;
		min-height: 6em;
		margin: 0;
		padding: 0.875em;
		font-size: 0.875em;
		font-weight: 700;
		text-align: center;
		text-transform: none;
		line-height: 3.236;
		border: 0;
		border-radius: 100%;
		background-color: #77a464;
		color: #fff;
		z-index: 9;
	}

	&__product-title {
		font-family: "Futura Std", sans-serif;
		font-size: 1.6rem;
		font-weight: bold;
		text-align: center;
		color: #4581c1;
	}

	&__product-price {
		text-align: center;
		color: #6e6e6e;
	}
}
