// Buttons

// Button alignment correction
.wp-block-buttons {
	&.alignright {
		text-align: right;

		.wp-block-button {
			margin-right: unset;
		}
	}

	.wp-block-button {
		.wp-block-button__link {
			padding: 0.6em 0.889em;
			font-size: 0.85em;

			&:hover,
			&:active,
			&:focus {
				text-decoration: none;

				@each $name, $color in $colors {
					&.has-#{$name}-background-color {
						background-color: darken($color, 5%) !important;
					}
				}
			}
		}
	}
}
