// Block Media and Text

.wp-block-media-text {
	gap: 0.5rem;

	.wp-block-media-text__media {
		img {
			max-width: 100%;
			width: unset;
		}
	}

	.wp-block-media-text__content {
		padding: 0;

		*:last-child {
			margin-bottom: 0;
		}
	}

	&.is-stacked-on-mobile {
		.wp-block-media-text__media {
			display: flex;
			justify-content: center;

			@media (max-width: 767.98px) {
				margin-bottom: 0.5rem;
			}
		}
	}
}
