/* Webfonts */

// Note: Need to be enqueued in Block Editor Assets to be applied there too

@font-face {
	font-family: "Fredoka One";
	src: url("../../fonts/FredokaOne-Regular.woff2") format("woff2"),
		url("../../fonts/FredokaOne-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Futura Std";
	src: url("../../fonts/FuturaStd-Heavy.woff2") format("woff2"),
		url("../../fonts/FuturaStd-Heavy.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Futura Std";
	src: url("../../fonts/FuturaStd-Book.woff2") format("woff2"), url("../../fonts/FuturaStd-Book.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Futura Std";
	src: url("../../fonts/FuturaStd-HeavyOblique.woff2") format("woff2"),
		url("../../fonts/FuturaStd-HeavyOblique.woff") format("woff");
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Futura Std";
	src: url("../../fonts/FuturaStd-BookOblique.woff2") format("woff2"),
		url("../../fonts/FuturaStd-BookOblique.woff") format("woff");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Futura Std";
	src: url("../../fonts/FuturaStd-BoldOblique.woff2") format("woff2"),
		url("../../fonts/FuturaStd-BoldOblique.woff") format("woff");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Futura Std";
	src: url("../../fonts/FuturaStd-Bold.woff2") format("woff2"), url("../../fonts/FuturaStd-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
