// Single product template

.single-product {
	@extend .no-background;

	.partner-stores {
		margin-top: 2rem;
	}

	.partner-stores-logos {
		display: flex;
		flex-wrap: wrap;
		gap: 1.5rem;
		align-items: center;
		justify-content: center;

		@media (min-width: 768px) {
			justify-content: flex-start;
		}
	}
}
