// WooCommerce Templates

.woocommerce-cart,
.woocommerce-checkout,
.woocommerce-account {
	@extend .no-background;
}

.woocommerce-page {
	main {
		@include padding(2rem null);
		min-height: 500px;
	}
}
