// Color Pallete

$white: #ffffff;
$black: #000000;
$background: #f1f1f1;
$primary: #4581c1;
$secondary: #e2282a;
$titleInPrimary: #000000;
$textInPrimary: #000000;
$textTitle: #6e6e6e;
$textBase: #6e6e6e;
$inputPlaceholder: #6e6e6e;
$inputBorder: #6e6e6e;
$inputBackground: #ffffff;
$buttonBackground: #e2282a;
$buttonText: #ffffff;
